.background {
    position: relative;
    width: 375px;
    height: 667px;
  }
  
  img {
    position: absolute;
    left: 22.4%;
    right: 22.13%;
    top: 43.63%;
    bottom: 43.63%;
  
    border-radius: 50px;
  }