<ion-content class="background">
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="home">
        <ion-icon src="../../assets/icon/house_icon.svg"></ion-icon>
        <ion-label>Início</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="notifications">
        <ion-icon src="../../assets/icon/bell_icon.svg"></ion-icon>
        <ion-label>Notificações</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="search">
        <ion-icon src="../../assets/icon/search_icon.svg"></ion-icon>
        <ion-label>Buscar</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="profile">
        <ion-icon src="../../assets/icon/user_icon.svg"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="configurations">
        <ion-icon src="../../assets/icon/gear_icon.svg"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>