<ion-card>
  <img src="../../assets/images/personal-info/user.svg" class="user_photo">
  <ion-chip class="status_chip">Ativo</ion-chip>
  <ion-text class="start_date">Criado em 03 de Fevereiro de 2020</ion-text>
  <ion-button class="edit_btn">Editar</ion-button>

  <ion-item>
    <ion-label class="name_label" position="stacked">Nome Completo</ion-label>
    <ion-input type="name" placeholder="Fulano da Silva"></ion-input>
  </ion-item>

  <ion-item class="cpf_input">
    <ion-label class="cpf_label" position="stacked">CPF</ion-label>
    <ion-input type="text" placeholder="485.569.166-17"></ion-input>
  </ion-item>

  <ion-item class="nationality_input">
    <ion-label class="nationality_label" position="stacked">Nacionalidade</ion-label>
    <ion-input type="text" placeholder="Brasileiro(a)"></ion-input>
  </ion-item>

  <ion-item class="date_input">
    <ion-label class="date_label" position="stacked">Data de nascimento</ion-label>
    <ion-input type="date" placeholder="03/02/1987"></ion-input>
  </ion-item>

  <ion-item class="address_input">
    <ion-label class="address_label" position="stacked">Endereço</ion-label>
    <ion-input type="text" placeholder="Rua ABC, 234"></ion-input>
  </ion-item>

  <ion-item class="complement_input">
    <ion-label class="complement_label" position="stacked">Complemento</ion-label>
    <ion-input type="text" placeholder="Em frente à ingreja"></ion-input>
  </ion-item>

  <ion-item class="cep_input">
    <ion-label class="cep_label" position="stacked">CEP</ion-label>
    <ion-input type="text" placeholder="08956-000"></ion-input>
  </ion-item>

  <ion-item class="city_input">
    <ion-label class="city_label" position="stacked">Cidade</ion-label>
    <ion-input type="text" placeholder="São Paulo"></ion-input>
  </ion-item>

  <ion-item class="state_input">
    <ion-label class="state_label" position="stacked">Estado</ion-label>
    <ion-input type="text" placeholder="São Paulo"></ion-input>
  </ion-item>

  <ion-item class="cell_input">
    <ion-label class="cell_label" position="stacked">Celular</ion-label>
    <ion-input type="text" placeholder="+55 (11) 93654-4758"></ion-input>
  </ion-item>

  <ion-item class="email_input">
    <ion-label class="email_label" position="stacked">E-mail</ion-label>
    <ion-input type="email" placeholder="fulano_silva@hotmail.com"></ion-input>
  </ion-item>
</ion-card>

<!--   
        <ion-item class="input_item">
          <ion-label class="input_label">CPF</ion-label>
          <ion-input type="email" placeholder="485.569.166-17"></ion-input>
        </ion-item>      -->