<ion-header>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
</ion-header>

<ion-content class="background">
    <img src="../assets/images/head.png" class="head">
    <img src="../assets/images/logo2.png" class="logo">

    <ion-card-content>
        <input-field-component class="email" type="email" name="E-mail"></input-field-component>
        <input-field-component class="password" type="password" name="Senha"></input-field-component>

        <ion-button class="enter_button" color="primary">Entrar</ion-button>
    </ion-card-content>

    <div class="check">
        <ion-checkbox class="checkbox" type="checkbox"></ion-checkbox>
        <ion-label class="check_text">Lembrar de mim</ion-label>
    </div>

    <ion-button class="enter_button" color="primary" href="/tabs">Entrar</ion-button>

    <ion-button class="password_link" href="/password" fill="clear">Esqueceu a senha?</ion-button>
    <ion-button class="register_link" href="/register" fill="clear">Não tem uma conta? Cadastre-se.</ion-button>
</ion-content>

<!-- <div class='flex-center'>
        <form>
            <ion-card>
                <ion-card-content>
                    <ion-item>
                        <ion-label class="text_field">Email</ion-label>
                        <ion-input class="box_field" type="email"></ion-input>
                    </ion-item>

                    <ion-item>
                        <ion-label class="text_field">Password</ion-label>
                        <ion-input class="box_field" type="password"></ion-input>
                    </ion-item>
                    <ion-button class="enter_button" color="primary">Entrar</ion-button>
                </ion-card-content>
            </ion-card>
        </form>
    </div>
    </ion-content> -->