<ion-header>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
</ion-header>

<ion-content>
    <img src="../assets/images/head.png" class="head">
    <img src="../assets/images/logo2.png" class="logo">

    <ion-card-content>
        <input-field-component class="email" type="email" name="E-mail"></input-field-component>
        <input-field-component class="password" type="password" name="Senha"></input-field-component>

        <ion-checkbox class="checkbox" type="checkbox"></ion-checkbox>
        <ion-text class="check_text" color="tertiary">Lembrar de mim</ion-text>

        <ion-button class="enter_button" color="primary">Entrar</ion-button>

        <hr />
        <ion-text class="option_text" color="tertiary">ou você pode fazer login via</ion-text>

        <ion-button class="facebook_button" fill="clear"></ion-button>
        <ion-icon class="facebook_icon" name="facebook"></ion-icon>
        <ion-text class="facebook_text">Facebook</ion-text>


        <ion-button class="google_button" fill="clear"></ion-button>
        <ion-icon class="google_icon" name="google"></ion-icon>
        <ion-text class="google_text">Google</ion-text>
    </ion-card-content>

    <ion-button class="enter_button" color="primary" href="/login-transition">Entrar</ion-button>

    <ion-button class="password_link" color="tertiary" href="/password" fill="clear">Esqueceu a senha?</ion-button>
    <ion-button class="register_link" color="tertiary" href="/register" fill="clear">Não tem uma conta? Cadastre-se.
    </ion-button>
</ion-content>