<ion-header>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@500&display=swap"
    rel="stylesheet">
</ion-header>

<ion-content>
  <img src="../../assets/images/configurations/head.png">
  <img src="../../assets/images/logo2.png" class="logo">
  <ion-text class="title">Configurações</ion-text>

  <ion-button class="notifications_button">
    <ion-icon src="../../assets/images/configurations/bell.svg" class="bell_icon"></ion-icon>
    <ion-label class="notifications_text">Notificações</ion-label>
    <ion-icon src="../../assets/images/configurations/arrow.svg" class="arrow_icon"></ion-icon>
  </ion-button>

  <ion-button class="help_button">
    <ion-icon src="../../assets/images/configurations/help.svg" class="bell_icon"></ion-icon>
    <ion-label class="help_text">Me ajuda</ion-label>
    <ion-icon src="../../assets/images/configurations/arrow.svg" class="arrow_icon"></ion-icon>
  </ion-button>

  <ion-button class="delete_button">
    <ion-icon src="../../assets/images/configurations/trash.svg" class="bell_icon"></ion-icon>
    <ion-label class="delete_text">Excluir conta</ion-label>
    <ion-icon src="../../assets/images/configurations/arrow.svg" class="arrow_icon"></ion-icon>
  </ion-button>

  <ion-button class="exit_button" href="/login">Sair do aplicativo
    <ion-icon slot="start" src="../../assets/images/configurations/exit.svg"></ion-icon>
  </ion-button>

  <img src="../../assets/images/logo.png" class="logo2">
</ion-content>