.background {
    position: absolute;
    width: 375px;
    height: 667px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 12px;
}

.title {
    position: absolute;
    width: 180px; /*157px*/
    height: 36px;
    left: 117px;
    top: 21px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    color: #5171A5;
}