.certificates_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 210px;

    background: url(../../assets/icons/certificate_img.png);
}

.download_icon {
    /* position: absolute;
    width: 24px;
    height: 24px;
    left: 1431px;
    top: 285px; */

    background-color: transparent;
    border: none;
}

.reject_button {
    /* position: absolute;
    width: 94px;
    height: 24px;
    left: 1550px;
    1550px
    top: 287px;
    287px */

    left: -15px;
    width: 94px;
    height: 24px;
    background: #5171A5;
    border-radius: 5px;
}

.accept_button {
    /* position: absolute;
    width: 94px;
    height: 24px;
    left: 1550px;
    1673px
    top: 210px;
    287px */

    left: 15px;
    width: 94px;
    height: 24px;
    background: #5171A5;
    border-radius: 5px;
}

.certificates_table {
    position: absolute;
    width: 1620px;
    height: 798px;
    left: 276px;
    top: 143px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 4px;
}



/* position: absolute;
width: 1618px;
height: 798px;
left: 276px;
top: 133px; */