<ion-card class="page_card">
    <ion-button class="edit_btn">Editar</ion-button>

    <ion-text class="cadastro_ajg">Possui cadastro no sistema AJG?</ion-text>
    <ion-button fill="clear" class="resposta_ajg">Sim</ion-button>

    <ion-text class="comunidade_ling">Pertence a uma comunidade linguística minoritária?</ion-text>
    <ion-button fill="clear" class="resposta_com">Não</ion-button>

    <ion-text class="proficiencia_txt">Proficiência</ion-text>
    <ion-card class="proficiencia_card">
        <ion-text class="idioma_txt">Português -> Inglês</ion-text>
        <ion-chip class="traducao_chip">Tradução</ion-chip>
        <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    </ion-card>
    <ion-card class="proficiencia_card2">
        <ion-text class="idioma_txt">Inglês -> Português</ion-text>
        <ion-chip class="traducao_chip">Tradução</ion-chip>
        <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    </ion-card>
    <ion-card class="proficiencia_card3">
        <ion-text class="idioma_txt">Alemão -> Inglês</ion-text>
        <ion-chip class="traducao_chip">Tradução</ion-chip>
        <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    </ion-card>
    <ion-card class="proficiencia_card4">
        <ion-text class="idioma_txt">Inglês -> Alemão</ion-text>
        <ion-chip class="traducao_chip">Tradução</ion-chip>
        <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    </ion-card>
</ion-card>