.logo {
    position: absolute;
    width: 41px;
    height: 41px;
    left: 167px;
    top: 41px;
}

.title {
    position: absolute;
    width: 375px;
    height: 23px;
    left: 0px;
    top: 15px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    
    text-align: center;
    
    color: #FFFFFF;    
}