.logo {
    position: absolute;
    width: 67px;
    height: 67px;
    left: 153px;
    top: 46px;
}

.password_text {
    position: absolute;
    width: 165px;
    height: 36px;
    left: 109px;
    top: 137px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;

    text-align: center;
}

.new_password {
    position: absolute;
    width: 306px;
    height: 72px;
    left: 34px;
    top: 202px;
}

.confirm_password {
    position: absolute;
    width: 306px;
    height: 72px;
    left: 34px;
    top: 300px;
}

.confirm_button {
    box-sizing: border-box;

    position: absolute;
    width: 306px;
    height: 41px;
    left: 34px;
    top: 562px;

    background: #5171A5;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.cancel_link {
    position: absolute;
    width: 69px;
    height: 23px;
    left: 153px;
    top: 614px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 22px;

    text-align: center;
    text-decoration-line: underline;
}