<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Interpretari</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@100;300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="entidade-entrevista.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<header>
    <div class="topbar">
        <i class="topbar_body"></i>
        <div class="logo">
            <i class="logo_background"></i>
            <p-image src="../../assets/images/logoHome.png" class="logo_img"></p-image>
        </div>
        <i class="bell_icon"></i>
        <p class="user_txt">Henry</p>
        <i class="user_icon"></i>
    </div>
</header>

<body>
    <div class="sidenav">
        <div class="menu_group">
            <i class="home_icon"></i>
            <a style="text-decoration:none" class="home_link" href="/entidade-home">Página Inicial</a>
            <i class="certificate_icon"></i>
            <a style="text-decoration:none" class="certificate_link" href="/">Lista de
                Certificados</a>
            <i class="interview_icon"></i>
            <a style="text-decoration:none" class="interview_link" href="/entidade-entrevistas">Entrevistas</a>
        </div>
        <div class="users_group">
            <p class="users_txt">Usuários</p>
            <i class="users_icon"></i>
            <a style="text-decoration:none" class="interpretes_link" href="/admin-interprete">Intérpretes</a>
        </div>
        <div class="config_group">
            <p class="config_txt">Configurações</p>
            <i class="profile_icon"></i>
            <a style="text-decoration:none" class="data_link" href="/">Meus Dados</a>
            <i class="login_icon"></i>
            <a style="text-decoration:none" class="login_link" href="/login">Sair</a>
        </div>
    </div>

    <p class="title_txt">Entrevistas</p>
    <p class="side_txt">Entrevistas</p>

    <!-- <div class="entrevista_panel"></div> -->
    <p-table #dt2 [value]="certificados" dataKey="id" [rows]="2" styleClass="p-datatable-certificado" [paginator]="true"
        [globalFilterFields]="['interprete','date','status', 'link', 'validacao']" class="certificates_table">
        <ng-template pTemplate="caption">
            <th>
                <p-columnFilter placeholder="Procure pelo nome do intérprete..." type="text" field="interprete"
                    class="search_input"></p-columnFilter>
            </th>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="interprete" style="text-align: center">Intérprete</th>
                <th pSortableColumn="carregado" style="text-align: center">Realizado em</th>
                <th pSortableColumn="status" style="text-align: center">Status</th>
                <th pSortableColumn="link" style="text-align: center">Link da entrevista</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-certificado>
            <tr>
                <td style="text-align: center">
                    <span>{{certificado.interprete}}</span>
                </td>
                <td style="text-align: center">
                    <span>{{certificado.carregado}}</span>
                </td>
                <td style="text-align: center">
                    <span>{{certificado.status}}</span>
                </td>
                <td style="text-align: center">
                    <a href="{{certificado.link}}">{{certificado.link}}</a>
                </td>
            </tr>
            <textarea [rows]="5" [cols]="140" pInputTextarea
                autoResize="autoResize">{{certificado.validacao}}</textarea>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="5">Nenhum certificado encontrado.</td>
            </tr>
        </ng-template>
    </p-table>

    <footer>
        <p class="footer_back"></p>
        <p class="inter_txt">2022 © Interprêt.</p>
        <p class="dev_txt">Produzido e Desenvolvido por Alunos Anhembi Morumbi.</p>
    </footer>
</body>