.skip {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 313px;
  top: 12px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.slide1 {
  position: absolute;
  width: 333px;
  height: 424px;
  left: 24px;
  top: 89px;
}

.slide2 {
  position: absolute;
  width: 335px;
  height: 435px;
  left: 21px;
  top: 78px;
}

.slide3 {
  position: absolute;
  width: 333px;
  height: 416px;
  left: 24px;
  top: 97px;
}

.next_button {
  position: absolute;
  width: 291px;
  height: 47px;
  left: 42px;
  top: 550px;

  border-radius: 10px;
}

.start_button {
  position: absolute;
  width: 291px;
  height: 47px;
  left: 42px;
  top: 550px;

  border-radius: 10px;
}

// .start_text {
//   position: absolute;
//   left: 39.52%;
//   right: 38.83%;
//   top: 17.02%;
//   bottom: 19.15%;

//   font-family: 'Poppins';
//   font-style: normal;
//   font-weight: 500;
//   font-size: 20px;
//   line-height: 30px;

//   color: #FFFFFF;
// }