<ion-header>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@500&display=swap"
        rel="stylesheet">
</ion-header>

<ion-content [scrollY]="false">
    <ion-button class="skip" fill="clear" href="/login">Pular</ion-button>
    <swiper effect="fade" [config]="swiperConfig">
        <ng-template swiperSlide>
            <div class="background">
                <img src="../assets/images/slide1.png" class="slide1" />
                <!-- <ion-button class="next_button" color="primary" href="/login" (click)="next()">Iniciar</ion-button> -->
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="background">
                <img src="../assets/images/slide2.png" class="slide2" />
                <!-- <ion-button class="next_button" color="primary" href="/login" (click)="next()">Iniciar</ion-button> -->
            </div>
        </ng-template>
        <ng-template swiperSlide>
            <div class="background">
                <img src="../assets/images/slide3.png" class="slide3" />
                <ion-button class="start_button" color="primary" href="/login">Iniciar</ion-button>
            </div>
        </ng-template>
    </swiper>
</ion-content>