.background {
    position: absolute;
    width: 375px;
    height: 667px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
}

.logo {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 18px;
    top: 12px;
}

.user {
    position: absolute;
    left: 29.87%;
    right: 29.6%;
    top: 5.74%;
    bottom: 82.15%;
}

.user_name {
    position: absolute;
    width: 375px;
    height: 38px;
    left: 0px;
    top: 190px; //238px

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;

    text-align: center;

    color: #5171A5;
}