.certificates_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    left: 60px;
    top: 210px;

    background: url(../../assets/icons/certificate_img.png);
}

.download_icon {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 1431px;
    top: 285px;

    background: url(../../assets/icons/download_img.png);
}

.reject_button {
    position: absolute;
    width: 94px;
    height: 24px;
    left: 1450px;
    /*1550px*/
    top: 210px;
    /*287px*/

    background: #5171A5;
    border-radius: 5px;

    color: white;
}

.accept_button {
    position: absolute;
    width: 94px;
    height: 24px;
    left: 1550px;
    /*1673px*/
    top: 210px;
    /*287px*/

    background: #5171A5;
    border-radius: 5px;

    color: white;
}

.certificates_table {
    position: absolute;
    width: 1618px;
    height: 798px;
    left: 276px;
    top: 133px;
}