<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Interpretari</title>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;500&display=swap" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&family=Poppins:wght@100;300;500&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="cadastro.component.css">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>


    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<header>
    <div class="topbar">
        <i class="topbar_body"></i>
        <div class="logo">
            <i class="logo_background"></i>
            <p-image src="../../assets/images/logoHome.png" class="logo_img"></p-image>
        </div>
        <i class="bell_icon"></i>
        <p class="user_txt">Henry</p>
        <i class="user_icon"></i>
    </div>
</header>

<body>
    <div class="sidenav">
        <div class="menu_group">
            <i class="home_icon"></i>
            <a class="home_link" href="/inicio">Página Inicial</a>
            <i class="certificate_icon"></i>
            <a class="certificate_link" href="/lista-certificados">Lista de Certificados</a>
            <i class="interview_icon"></i>
            <a class="interview_link" href="/entrevistas">Entrevistas</a>
        </div>
        <div class="users_group">
            <p class="users_txt">Usuários</p>
            <i class="balance_icon"></i>
            <a class="court_link" href="/tribunal">Tribunal</a>
            <i class="building_icon"></i>
            <a class="judicial_link" href="/unidade-judiciaria">Unidade Judiciária</a>
            <i class="checked_icon"></i>
            <a class="certifier_link" href="/entidade-certificadora">Entidade Certificadora</a>
            <i class="users_icon"></i>
            <a class="interpreter_link" href="/interpretes">Intérpretes</a>
        </div>
        <div class="config_group">
            <p class="config_txt">Configurações</p>
            <i class="profile_icon"></i>
            <a class="data_link" href="/meus-dados">Meus Dados</a>
            <i class="login_icon"></i>
            <a class="login_link" href="/login">Sair</a>
        </div>
    </div>

    <p class="title_txt">Tribunal</p>
    <p class="side_txt">Tribunal</p>

    <div class="form_body">
        <!-- <p class="form_title">Preencha as informações abaixo</p> -->
        <input type="text" pInputText placeholder="Digite o número do processo" class="process_field"/>
        <p-dropdown [options]="tipos" [(ngModel)]="selectedTipo" optionLabel="name"></p-dropdown>

    </div>

    <footer>
        <p class="footer_back"></p>
        <p class="inter_txt">2022 © Interprêt.</p>
        <p class="dev_txt">Produzido e Desenvolvido por Alunos Anhembi Morumbi.</p>
    </footer>
</body>