<ion-grid>
    <ion-card *ngFor="let postos of postoList; let i = index" class="postos_card">
        <ion-text class="postado">Postado em:</ion-text>
        <ion-text class="postado_data">{{postos.postado}}</ion-text>
        <ion-text class="endereco">{{postos.endereco}}</ion-text>
        <ion-text class="idioma_partida">{{postos.idioma_partida}}
            <ion-text class="arrow"> →
                <ion-text class="idioma_chegada">{{postos.idioma_chegada}}</ion-text>
            </ion-text>
        </ion-text>

        <ion-chip *ngIf="postos.traducao === 'true'" class="traducao_chip">
            <ion-icon src="../../assets/images/work-stations/traducao_icon.svg" class="traducao_icon"></ion-icon>
            Tradução
        </ion-chip>

        <ion-chip *ngIf="postos.interpretacao === 'true'" class="interpretacao_chip">
            <ion-icon src="../../assets/images/work-stations/interpretacao_icon.svg" class="interpretacao_icon">
            </ion-icon>
            Interpretação
        </ion-chip>

        <ion-text class="data">{{postos.data}}</ion-text>

        <ion-chip *ngIf="postos.modo === 'remoto'" class="modo">
            <ion-icon src="../../assets/images/work-stations/remoto_icon.svg" class="modo_icon"></ion-icon>
            Remoto
        </ion-chip>

        <ion-button class="detalhes_btn">Detalhes</ion-button>

        <ion-chip *ngIf="postos.status === 'finalizada'" class="status_finalizada">
            <ion-icon src="../../assets/images/work-stations/check_icon.svg" class="status_icon"></ion-icon>
            <ion-label>Esta audiência foi finalizada.</ion-label>
        </ion-chip>

        <ion-chip *ngIf="postos.status === 'cancelada'" class="status_cancelada">
            <ion-icon src="../../assets/images/work-stations/x_icon.svg" class="status_icon"></ion-icon>
            <ion-label>Esta audiência foi cancelada.</ion-label>
        </ion-chip>

        <ion-chip *ngIf="postos.status === 'pendente'" class="status_pendente">
            <ion-icon src="../../assets/images/work-stations/clock_icon.svg" class="status_icon"></ion-icon>
            <ion-label>Esta audiência está pendente.</ion-label>
        </ion-chip>

        <ion-chip *ngIf="postos.modo === 'presencial'" class="modo">
            <ion-icon src="../../assets/images/work-stations/presencial_icon.svg" class="modo_icon"></ion-icon>
            Presencial
        </ion-chip>
    </ion-card>
</ion-grid>

<!-- <ion-card class="card">
    <ion-text class="postado">Postado em: </ion-text>
    <ion-text class="postado_data">12/07/2020 - até às 22h</ion-text>
    <ion-text class="endereco">Rua ABCDE, 123 - São Paulo - SP</ion-text>
    <ion-text class="linguas">Português -> Alemão</ion-text>
    <ion-chip class="traducao_chip">Tradução</ion-chip>
    <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    <ion-text class="data">15/09/2020 - 13h00 às 14h30</ion-text>

    <ion-chip class="status_finalizada">
        <ion-icon src="../../assets/images/work-stations/check_icon.svg" class="status_icon"></ion-icon>
        <ion-label>Esta audiência foi finalizada.</ion-label>
    </ion-chip>

    <ion-chip class="modo">Presencial</ion-chip>
    <ion-button class="detalhes_btn">Detalhes</ion-button>
</ion-card>

<ion-card class="card2">
    <ion-text class="postado">Postado em: </ion-text>
    <ion-text class="postado_data">12/07/2020 - até às 22h</ion-text>
    <ion-text class="endereco">Rua ABCDE, 123 - São Paulo - SP</ion-text>
    <ion-text class="linguas">Português -> Alemão</ion-text>
    <ion-chip class="traducao_chip">Tradução</ion-chip>
    <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    <ion-text class="data">15/09/2020 - 13h00 às 14h30</ion-text>

    <ion-chip class="status_cancelada">
        <ion-icon src="../../assets/images/work-stations/x_icon.svg" class="status_icon"></ion-icon>
        <ion-label>Esta audiência foi cancelada.</ion-label>
    </ion-chip>

    <ion-chip class="modo">Remoto</ion-chip>
    <ion-button class="detalhes_btn">Detalhes</ion-button>
</ion-card>

<ion-card class="card3">
    <ion-text class="postado">Postado em: </ion-text>
    <ion-text class="postado_data">12/07/2020 - até às 22h</ion-text>
    <ion-text class="endereco">Rua ABCDE, 123 - São Paulo - SP</ion-text>
    <ion-text class="linguas">Português -> Alemão</ion-text>
    <ion-chip class="traducao_chip">Tradução</ion-chip>
    <ion-chip class="interpretacao_chip">Interpretação</ion-chip>
    <ion-text class="data">15/09/2020 - 13h00 às 14h30</ion-text>

    <ion-chip class="status_pendente">
        <ion-icon src="../../assets/images/work-stations/clock_icon.svg" class="status_icon"></ion-icon>
        <ion-label>Esta audiência está pendente.</ion-label>
    </ion-chip>

    <ion-chip class="modo">Presencial</ion-chip>
    <ion-button class="detalhes_btn">Detalhes</ion-button>
</ion-card> -->