.background {
    position: relative;
    width: 375px;
    height: 667px;
}

.head {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    top: 0px;
}

.logo {
    position: absolute;
    width: 67px;
    height: 67px;
    left: 154px;
    top: 46px;
}