<!-- <ion-header [translucent]="true">
<ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Interprêt</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
  </div>
  <ion-item button routerLink="/intro">
    <ion-label>Intro</ion-label>
  </ion-item>
</ion-content> -->

<div class="background">
  <ion-content>
    <img src="../assets/images/logo.png">
  </ion-content>
</div>