.entrevista_panel {
    position: absolute;
    width: 1618px;
    height: 798px;
    left: 276px;
    top: 133px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 4px;
}

.editor_input {
    position: absolute;
    width: 1618px;
    height: 798px;
    left: 276px;
    top: 133px;
}

.interpretes_table {
    position: absolute;
    width: 1620px;
    height: 798px;
    left: 276px;
    top: 143px;

    background: #FFFFFF;
    box-shadow: 0px 10px 20px rgba(18, 38, 63, 0.0313726);
    border-radius: 4px;
}

/* .users_icon {
    position: absolute;
    width: 56px;
    height: 17px;
    left: 24px;
    top: 165px;

    background: url(../../../assets/icons/users_icon.svg);
} */

.users_txt {
    position: absolute;
    width: 181px;
    height: 189px;
    left: 24px;
    top: 165px;
}

.tribunal_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 207px;

    background: url(../../../assets/admin/tribunal_icon.svg);
}

.tribunal_link {
    position: absolute;
    width: 53px;
    height: 20px;
    left: 58px;
    top: 205.5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #EFF2F7;
}

.unidade_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 251px;

    background: url(../../../assets/admin/unidade_icon.svg);
}

.unidade_link {
    position: absolute;
    width: 124px;
    /*123px*/
    height: 20px;
    left: 58px;
    top: 250px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #EFF2F7;
}

.entidade_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 297px;

    background: url(../../../assets/admin/entidade_icon.svg);
}

.entidade_link {
    position: absolute;
    width: 148px;
    /*147px*/
    height: 20px;
    left: 58px;
    top: 294.5px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #EFF2F7;
}

.interprete_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 334px;

    background: url(../../../assets/admin/interprete_icon.svg);
}

.interprete_link {
    position: absolute;
    width: 71px;
    height: 20px;
    left: 59.56px;
    top: 334px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #EFF2F7;    
}

.config_group {
    position: absolute;
    width: 114px;
    height: 100px;
    left: 24px;
    top: -75px;
}

.config_txt {
    position: absolute;
    width: 95px;
    height: 17px;
    left: 24px;
    top: 386px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 16px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.dados_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 427px;    

    background: url(../../../assets/admin/dados_icon.svg);
}

.dados_link {
    position: absolute;
    width: 81px; /*80px*/
    height: 20px;
    left: 58px;
    top: 426.5px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    
    color: #EFF2F7;
}

.sair_icon {
    position: absolute;
    width: 20px;
    height: 20px;
    left: 28px;
    top: 466px;    

    background: url(../../../assets/admin/sair_icon.svg);
}

.sair_link {
    position: absolute;
    width: 25px;
    height: 20px;
    left: 57px;
    top: 465px;
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #EFF2F7;    
}

.status-inativo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    border-radius: 4px;

    color: #E2574C;
    background: rgba(226, 87, 76, 0.13);
}

.status-ativo {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;

    border-radius: 4px;

    color: #34C38F;
    background: rgba(52, 195, 143, 0.1);
}

.detalhes_btn {
    width: 92px;
    height: 25px;
    background: #5171A5;
    border-radius: 5px;

    /* background: url(../../../assets/entidade/avaliar.png);
    background-repeat: no-repeat;
    background-position: left; */

    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));

    white-space: nowrap;
    padding: 1em;
}